{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Full Calendar Implementation Example
        {% endblock %}
    </title>
    {% block css %}
    {% endblock css %}
</head>
<body>
{% block content %}
{% endblock content %}
{% block js %}
{% endblock js %}
</body>
</html>