{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Homepage | Image upload
{% endblock title %}

{% block css %}
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel='stylesheet' href="{% static "fullcalendar/fullcalendar.css" %}"/>
    <style>
        .event_show {
            width: 300px;
            background: #FFFFFF;
            height: auto;
            border: 2px solid #ccc;
            margin: 50px auto;
            display: none;
        }

        .event_show li {
            list-style: none;
            margin: 10px 10px;
            text-align: left;
        }
    </style>
{% endblock css %}

{% block content %}
    <div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div id="event_form" class="event_show">
            <form action="{% url "homepage" %}" method="post" enctype="multipart/form-data">
                <ul>
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <li>
                        <button type="submit">Submit event</button>
                    </li>
                </ul>
                <br><a onclick="close_event()">close</a>
            </form>
        </div>

        <div id="event_show" class="event_show">
        </div>
    </div>


    <p>Hello {{ user.username }}!</p>
    <div id='calendar' style="z-index:1;"></div>
{% endblock content %}

{% block js %}
    <script src="{% static "fullcalendar/lib/jquery.min.js" %}"></script>
    <script src="{% static "fullcalendar/lib/moment.min.js" %}"></script>
    <script src="{% static "fullcalendar/fullcalendar.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                events: {{ events|safe }},

                dayClick: function (date, jsEvent, view) {
                    $('#calendar').hide();
                    $('#event_form').show();
                },

                eventClick: function (calEvent, jsEvent, view) {
                    var event = '<h2>' + calEvent.title + '</h2><br><div id="image-holder"></div><br><a onclick="close_event()">close</a>';
                    $('#calendar').hide();
                    $('#event_show').show().empty().append(event);
                    image = new Image();
                    image.src = '/media/' + calEvent.image;
                    image.onload = function () {
                        image.width = 300;
                        $('#image-holder').empty().append(image);
                    };
                }

            })
        });
        function close_event() {
            $('#event_show').hide();
            $('#event_form').hide();
            $('#calendar').show();
        }
    </script>
{% endblock js %}